{% extends 'admin/base.html' %}
{% load static %}
{% block extrahead %}
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'admin/custom_admin.css' %}" />
  {{ block.super }}
{% endblock %}

{% block branding %}
  <h1 id="site-name" style="display:flex;align-items:center;gap:10px;">
    <img src="{% static 'admin/logo.svg' %}" alt="Logo" style="height:32px;width:32px;vertical-align:middle;" />
    <a href="/be-videoflix/admin/">Videoflix Administration</a>
    <span style="flex:1"></span>
    <a href="/be-videoflix/django-rq/" style="font-size:14px;margin-left:16px;">RQ Dashboard</a>
    <a href="/be-videoflix/swagger/" style="font-size:14px;margin-left:8px;">API Docs</a>
    <a href="/be-videoflix/redoc/" style="font-size:14px;margin-left:8px;">ReDoc</a>
  </h1>
{% endblock %}
